
<ion-content>
  <div class="padding-container">
    <h3 class="text-center"><ion-text color="primary">Choose your language</ion-text></h3>
    <p class="text-center"><ion-text color="primary">🇬🇧  <br>For this changes take effect you may need restart the app.</ion-text></p>
    <ion-list>
      <ion-item>
        <ion-label>Language/Idioma</ion-label>
        <ion-select value="dog" [(ngModel)]="lag" name="lag" (ionChange)="setLang()">
          <ion-select-option value="en">🇬🇧 English</ion-select-option>
          <ion-select-option value="pt">🇵🇹 Português Europeu</ion-select-option>
          <ion-select-option value="br">🇧🇷 Português Brasileiro</ion-select-option>
          
        </ion-select>
      </ion-item>
      </ion-list>
      <h3 class="text-center"><ion-text color="primary">Escolhe o teu Idioma</ion-text></h3>
      <p class="text-center"><ion-text color="primary">🇧🇷  🇵🇹  <br>Para estas alterações funcionarem, terás de reiniciar a aplicação</ion-text></p>
  </div>
</ion-content>
