<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button>
        <ion-text color="light" (click)="dismiss()">
          CLOSE
        </ion-text>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        Create a Review
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- Review -->
<div >
  <ion-card *ngIf="getreview">
    <ion-card-content>
      <ion-item>
        <ion-textarea type="textarea" placeholder="Write your review here..." [(ngModel)]="review" name="review"
        value="{{ getreview.review }}"></ion-textarea>
      </ion-item>
      <ion-button color="primary" (click)="addReview(1)"> Publish </ion-button>
      <ion-button color="primary" (click)="addReview(0)"> Save as Draft </ion-button>
    </ion-card-content>
  </ion-card>
</div>
<!-- end review -->
</ion-content>
