<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button>
        <ion-text color="light" (click)="dismiss()">
          CLOSE
        </ion-text>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        Add Anime to List
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padding-container">
    <ion-searchbar [(ngModel)]="search" name="search" (ionChange)="searchData()"></ion-searchbar>

    <div *ngIf="ganime == undefined">
        <div class="padding-container" *ngIf="searchdata">
          <ion-list>
            <ion-radio-group [(ngModel)]="radioanime" name="radioanime" >
          <ion-item *ngFor="let anime of searchdata" (click)="clickGetAnime(anime.id)">
            <ion-thumbnail slot="start">
              <img [src]="anime.image_url">
            </ion-thumbnail>
            <ion-label>
              <h3>{{anime.name}}</h3>
              <p>Nº of Episodes: {{ anime.episodes_number }}</p>
            </ion-label>
            <ion-radio slot="end" value="{{ anime.id }}"></ion-radio>
          </ion-item>
        </ion-radio-group>
        </ion-list>
    </div>
  </div>

  <div *ngIf="ganime !== undefined">

    <!-- Anime -->
    <ion-item>
      <ion-thumbnail slot="start">
        <img [src]="ganime.image_url">
      </ion-thumbnail >
      <ion-label>
        <h3>{{ ganime.name }}</h3>
        <p>Ep Number: {{ ganime.episodes_number }}</p>
      </ion-label>
    </ion-item>
    <!-- Anime -->


    <!-- Ion Segment-->
    <ion-item>
      <ion-label>
        <p><b>
          <ion-text color="primary">
            Add Anime to:
          </ion-text>
        </b></p>
      </ion-label>
    </ion-item>
    <ion-segment scrollable (ionChange)="segmentChanged($event)" value="all">
      <ion-segment-button value="watching" (click)="changeStatus(1)">
        <ion-icon name="eye" ></ion-icon>
        <ion-label>Watching</ion-label>
      </ion-segment-button>
      <ion-segment-button value="completed" (click)="changeStatus(2)">
        <ion-icon name="checkmark-done" ></ion-icon>
        <ion-label>Completed</ion-label>
      </ion-segment-button>
      <ion-segment-button value="ptw" (click)="changeStatus(3)">
        <ion-icon name="bookmark"></ion-icon>
        <ion-label>Plan To Watch</ion-label>
      </ion-segment-button>
      <ion-segment-button value="dropped" (click)="changeStatus(4)">
        <ion-icon name="close-circle"></ion-icon>
        <ion-label>Dropped</ion-label>
      </ion-segment-button>
    </ion-segment>

    <!-- Add Status Watching -->
    <div class="padding-container" *ngIf="status == 1">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <ion-text color="primary">
              <b>Watching</b>
            </ion-text>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label>
              How Many Episodes?
              
            </ion-label>
            <ion-input [(ngModel)]="n_episodes" name="n_episodes" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <label>Score <ion-icon name="star"></ion-icon></label>
            <ion-select [(ngModel)]="score" name="score" interface="popover">
              <ion-select-option  *ngFor="let s of scoreArr" value="{{ s }}">{{ s }}  </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-button (click)="addAnime(1)"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
        </ion-card-content>
        
      </ion-card>
    </div>
    <!-- End Add Status Watching -->

    <!-- Add Status Completed -->
    <div class="padding-container" *ngIf="status == 2">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <ion-text color="primary">
              <b>Completed</b>
            </ion-text>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
      <ion-item>
        <ion-label>
          How Many Times?
        </ion-label>
        <ion-input type="number" placeholder="Type here" [(ngModel)]="completed" name="completed"></ion-input>
      </ion-item>
      
      <ion-item>
        <label>Score <ion-icon name="star"></ion-icon></label>
        <ion-select [(ngModel)]="score" name="score" interface="popover">
          <ion-select-option  *ngFor="let s of scoreArr" value="{{ s }}">{{ s }}  </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button (click)="addAnime(2)"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
    </ion-card-content>
  </ion-card>

</div>
<!-- End Add Status Completed -->

<!-- Add Status Plan To Watch -->
<div *ngIf="status==3">
  <ion-card>
    <ion-card-header>
      <ion-text color="primary">
        <b>Plan To Watch</b>
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-button color="primary" (click)="addAnime(3)">Add To Plan To Watch</ion-button>
    </ion-card-content>
  </ion-card>
  </div>

<!-- End Add Status Plan To Watch -->

<!-- Add Status Dropped -->

<div *ngIf="status==4">
  <ion-card>
    <ion-item>
      <ion-label>
        <h4>Dropped</h4>
      </ion-label>
    </ion-item>
    <ion-item>
      <label>Score <ion-icon name="star"></ion-icon></label>
      <ion-select [(ngModel)]="score" name="score" interface="popover">
        <ion-select-option  *ngFor="let s of scoreArr" value="{{ s }}">{{ s }}  </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button color="primary" (click)="addAnime(4)">
      Add to Dropped
    </ion-button>
  </ion-card>
</div>

<!-- End Add Status Dropped -->
  </div>
</div>
<div class="ad-margin"></div>
</ion-content>
