<ion-header *ngIf="strings">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button *ngIf="options == true" (click)="changeOptions()"><ion-icon color="light" name="arrow-back-sharp"></ion-icon></ion-button>
      <ion-button (click)="openFirst()"><ion-icon color="light" name="menu"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openSearchMenu()"><ion-icon color="light" name="search"></ion-icon></ion-button>
    </ion-buttons>

    <ion-title>
      <ion-text color="light">
      <b>{{ strings.search }} Anime</b>
    </ion-text>
    </ion-title>
  </ion-toolbar >
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="search" name="search" (ionChange)="searchData()" placeholder="{{ strings.search }}"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-menu side="end" menuId="searchMenu" contentId="searchM" *ngIf="strings">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title><ion-text color="light">{{ strings.searchMenu }}</ion-text></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="changeAnimeSearch(2)"><ion-icon name="calendar" slot="start"></ion-icon>{{ strings.season }}</ion-item>
        <ion-item (click)="changeAnimeSearch(3)"><ion-icon name="apps" slot="start"></ion-icon>{{ strings.genre }}</ion-item>
      </ion-list>

      <!-- Begin Search Season -->
      <div *ngIf="animeSearch == 2">
        <ion-card>
          
        <ion-card-content>
        <ion-item>
          <ion-label>{{ strings.season }}</ion-label>
          
          <ion-select [(ngModel)]="season" name="season" interface="popover">
              <ion-select-option value="winter">{{ strings.seasons.winter }}</ion-select-option>
              <ion-select-option value="spring">{{ strings.seasons.spring }}</ion-select-option>
              <ion-select-option value="summer">{{ strings.seasons.summer }}</ion-select-option>
              <ion-select-option value="fall">{{ strings.seasons.fall }}</ion-select-option>
            
          </ion-select>
        </ion-item>


        <ion-item>
          <ion-label>{{ strings.year }}</ion-label>
          <ion-input type="number" name="year" [(ngModel)]="year"></ion-input>
        </ion-item>
        <ion-button (click)="searchBySeason()"> {{ strings.genre }}</ion-button>
      </ion-card-content>
      </ion-card>
    
      </div>
      <!-- End Search Season -->

      <!-- Begin Genre Search-->

      <div *ngIf="animeSearch == 3">
        <ion-card>
          <ion-card-content>
            <ion-item>
              <ion-label>
                {{ strings.genre }}
              </ion-label>
              <ion-select [(ngModel)]="genre" name="genre" interface="popover">
                <div *ngIf="idi == 'en'">
                  <ion-select-option *ngFor="let g of getgenres" value="{{ g.id }}">{{ g.categorie }}</ion-select-option>
                </div>
                <div *ngIf="idi == 'pt' || idi == 'br'">
                  <ion-select-option *ngFor="let g of getgenres" value="{{ g.id }}">{{ g.categorie_pt }}</ion-select-option>
                </div>
              </ion-select>
            </ion-item>
            <ion-button (click)="searchByGenre()"> {{ strings.search }}</ion-button>
        </ion-card-content>
      </ion-card>
      </div>

      <!-- End Genre Search -->


    </ion-content>
  </ion-menu>

  <ion-router-outlet id="searchM"></ion-router-outlet>

<ion-content [fullscreen]="true">
  


  
  

  


<div *ngIf="searchdata">
  

  
    <ion-grid no-padding>
      <ion-row>
        <ion-col size-xs="6" size-sm="6"   *ngFor="let anime of it">
          
            
              <div class="card-img-header" style="background-image: url('{{ anime.image_url }}');" [routerLink]="['/animedetails/',  anime.id ]">
                
              </div>
              <ion-grid no-padding>
                <ion-row>
                  <ion-col size="6">
                    <p >{{ anime.name }}</p>
                  </ion-col>
                  
                  
                  <ion-col size="6">
                    <p *ngIf="anime.type && idi == 'en'"><ion-chip color="primary">{{ anime.type.type }}</ion-chip></p>
                    <p *ngIf="anime.type && idi == 'pt'"><ion-chip color="primary">{{ anime.type.type_pt }}</ion-chip></p>
                  </ion-col>
                  <hr>
                </ion-row>
              </ion-grid>
                
                
              
            
            
              
            
            
          
          
          
        </ion-col>
      </ion-row>
    </ion-grid>
  
  
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      color="primary"
      loadingSpinner="circular"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</div>
<div class="ad-margin"></div>
</ion-content>
