<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="openFirst()"><ion-icon color="light" name="menu"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
      <b>Home</b>
    </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide [routerLink]="['/animedetails/',  a.id ]" *ngFor="let a of seasonanimes">
      
      
      <div  class="slider-size">
        <div class="left-align">
          <ion-chip class="bg-white">
            {{ season | titlecase }} {{ year }}
          </ion-chip>  
        </div>
        <div class="slider-title">
        
          <h3 >{{ a.name }}</h3>
        
        </div>
        <img [src]="a.image_url">
        
      </div>
    </ion-slide>
   
    
  </ion-slides>

  
  
  <!--<ion-card>
    <ion-item>
      <h4><b>Seasonal Anime</b></h4>
    </ion-item>
  
        <div class="list-container">
          <ion-item [routerLink]="['/animedetails/',  a.id ]" *ngFor="let a of seasonanimes">
            <ion-thumbnail slot="start">
              <img [src]="a.image_url">
            </ion-thumbnail>
            <ion-label>{{a.name}}</ion-label>
          </ion-item>
        
        </div>
      </ion-card>-->

     
     

              

  <div class="ad-margin"></div>
</ion-content>

