<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button *ngIf="editstatus == true" (click)="changeStatus()"><ion-icon color="light" name="arrow-back-sharp"></ion-icon></ion-button>
      <ion-button (click)="openFirst()"><ion-icon color="light" name="menu"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openCfg()"><ion-icon color="light" name="settings"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
       <b> My Profile</b>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-menu side="end" menuId="config" contentId="cfg">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Account Configuration</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <!--<ion-item>
          <ion-label slot="start">Light</ion-label>
            <ion-toggle slot="start" name="theme" *ngIf="theme == 'light'" (click)="changeTheme()"></ion-toggle>
            <ion-toggle slot="start" name="theme" *ngIf="theme == 'dark'" checked (click)="changeTheme()"></ion-toggle>
          <ion-label slot="end">Dark</ion-label>
      </ion-item>-->
      <ion-item (click)="presentModal()"> <ion-icon name="cog" slot="start"></ion-icon> User Data </ion-item>
      <ion-item (click)="logout()" routerLink="/tab1" *ngIf="checkUser!==''"><ion-icon name="log-out" slot="start"></ion-icon>  Logout</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="cfg"></ion-router-outlet>


<ion-content>


<div class="profile-wrap" *ngIf="profiledata">
  <div class="user-img text-center avatar-image" style="background-image: url('{{ profiledata.profile.image_url }}');"></div>
<div >
  <div  class="profile-header" *ngIf="profiledata.profile.cover_url == undefined">
    <div class="user-img text-center" style="background-image: url('{{ profiledata.profile.image_url }}');">
      

    </div>
    
  </div>
  <div *ngIf="profiledata.profile.cover_url" class="cover-img" style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.95)), url('{{ profiledata.profile.cover_url }}');">
    
      

      
      
        
        
      
      
    </div>
    

    </div>






  <div  class="padding-container box-div" *ngIf="profiledata">
    
    <h5 class="text-center">@{{ profiledata.username }}</h5>
    
    <ion-grid>
      <ion-row>
        <ion-col>
          <center>
            <ion-button shape="round" color="primary" routerLink="/followinglist"><ion-text color="light"><b>Following</b></ion-text></ion-button>
          </center>
        </ion-col>
        <ion-col>
          <center>
            <ion-button shape="round" color="primary" routerLink="/followerslist"><ion-text color="light"><b>Followers</b></ion-text></ion-button>
          </center>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>


  <ion-item-divider color="medium">
    My Statistics
  </ion-item-divider>

  <div class="padding-container" *ngIf="userdata">

    <ion-grid>
      <ion-row>

        <ion-col size="12">
          <p class="text-center">Total Days - {{ totaldays | number : '1.1-1' }}</p>
          <p class="text-center"></p>
        </ion-col>

        <ion-col size="3">
          <p class="text-center"><ion-icon name="eye" color="success"></ion-icon></p>
          <p class="text-center">{{ userdata.animes_watching }}</p>
        </ion-col>

        <ion-col size="3">
          <p class="text-center"><ion-icon name="checkmark-done" color="warning"></ion-icon></p>
          <p class="text-center">{{ userdata.animes_completed }}</p>
        </ion-col>

        <ion-col size="3">
          <p class="text-center"><ion-icon name="bookmark" color="dark"></ion-icon></p>
          <p class="text-center">{{ userdata.animes_plan }}</p>
        </ion-col>
        <ion-col size="3">
          <p class="text-center"><ion-icon name="close" color="danger"></ion-icon></p>
          <p class="text-center">{{ userdata.animes_dropped }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  
  

 
  <div class="ad-margin"></div>
  

</ion-content>
