<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="openFirst()"><ion-icon color="light" name="menu"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light"><b>Terms of Service</b></ion-text>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  
  
  <div class="padding-container">
    <ion-card>
      <ion-card-content>
        <a href="https://www.iubenda.com/privacy-policy/32696724">Privacy Policy - Important to Read</a>
  <br>
  <a href="https://www.iubenda.com/terms-and-conditions/32696724">Terms of Use - Important to Read</a><br><br>

  <h3>More Clausules Below:</h3>
        <p>The Anibook App is an app made for entertainment purposes only. All of our content serves to help users organize their
          Anime Lists and let users share their own lists. All of the images used on the app are for informative use only, and are owned by their respective 
          copyright owners.<br><br>
          We have a list of terms of use that should be respected in order to use our app. The terms are listed below.
        </p><br>
        <h3>App</h3>
          <ol>
            <li><p>Our app is maded by the "PROGRAMADOR AÇORIANO" group, any copy of our app distributed outside our group
              will be reported to authorities.
            </p></li>
            <li><p>
              Our app is secured by Amazon Web Services, so this mean any try to shut us down is dealing with Amazon Corporation,
              our advice is simple, if you want to test our servers security, warn us first in order to make a request to Amazon.
            </p></li>
            <li><p>
              Our App uses her own API, we do not use any of other anime list services API, this don't mean that our API is closed,
              our API is open source and you can use it for your apps, but you can't use it to make apps like ours.
            </p></li>
          </ol>
        <h3>Content</h3>
        <ol>
          <li> <p>Never use religion terms on any of content you make on our app, because we follow the humanity principles, all users have their
            own freedom and we want to avoid any discussions on this terms. Disrispecting this term and your account will be terminated.</p>
          </li>
          <li><p>Any racist content is forbidden, disrespecting this term and  your account will be terminated and your ip will be 
            black listed.
          </p></li>
          <li><p>
            In case of making any content, never use copyrighted content, this includes text, images or any type of media. Disrispecting this term and 
            your account will be shutdown.
          </p></li>
          
        </ol>
        <h3>
          Privacy
        </h3>
        <ol>
          <li><p>
            Any personal data you use on our app is protected by HTTPS certificate by let's encrypt. This means any real name,
            or personal content will be encrypted on our app.
          </p></li>
          <p><li>
            Don't insert any credit card number on our app, we do not guarantee the safety of this type of data.
          </li></p>
          
            <li>
              <p>Do not share personal images for your own security, we do not guarantee any safety of your pictures,
                meaning you can be exposed on the internet.
              </p>
            </li>
          
        </ol>
      </ion-card-content>
    </ion-card>
    <ion-item>
      <ion-label slot="start">
        Accept ToS
      </ion-label>
      <ion-toggle *ngIf="tosbutton == true" color="primary" slot="end" (click)="acceptTos()" checked></ion-toggle>
      <ion-toggle *ngIf="tosbutton == false" color="primary" slot="end" (click)="acceptTos()"></ion-toggle>
    </ion-item>
  </div>
  <div class="ad-margin"></div>
</ion-content>
