<ion-header *ngIf="strings">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button>
        <ion-text color="light" (click)="dismiss()">
          {{ strings.close }}
        </ion-text>
      </ion-button>
    </ion-buttons>
    <ion-title> 
      <ion-text color="light">
        {{ strings.animeListOpt.editAnime }}
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="strings">

  <div class="padding-container" *ngIf="getnote">
    <ion-item>
      <ion-thumbnail slot="start">
      <img height="200px" [src]="getnote.anime.image_url">
      </ion-thumbnail>
      <ion-label>
        <h4>
          {{ getnote.anime.name }}
        </h4>
        <p *ngIf="getnote.status && idi == 'en'"><b>Status: <ion-text color="primary"> {{ getnote.status.tag }}</ion-text></b></p>
        <p *ngIf="getnote.status && idi == 'pt'"><b>Status: <ion-text color="primary"> {{ getnote.status.tag_pt }}</ion-text></b></p>
      </ion-label>
    </ion-item>
    <ion-card>
      <ion-card-content>
        
        {{ getnote.note }}
        
      </ion-card-content>
    </ion-card>
    <ion-grid>
      <ion-row>
        

        <ion-col size="6">
          <ion-item>
            <ion-button color="primary" (click)="changeMenuOptions(6)">{{ strings.animeListOpt.addNote }}</ion-button>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-item>
      <ion-label><h4>{{ strings.animeListOpt.changeStatus }}</h4></ion-label>
      <ion-select interface="popover" value="status"  [(ngModel)]="options" name="options" (ionChange)="changeSelectOptions()">
        <ion-select-option value="1">{{ strings.animeListOpt.watching }}</ion-select-option>
        <ion-select-option value="2">{{ strings.animeListOpt.completed }}</ion-select-option>
        <ion-select-option value="5">{{ strings.animeListOpt.ptw }}</ion-select-option>
        <ion-select-option value="3">{{ strings.animeListOpt.dropped}}</ion-select-option>
      </ion-select>
    </ion-item>


    

    <!-- Watching Menu Section -->
    <div *ngIf="option==1">
          <ion-item-divider color="medium">
            {{ strings.episodes }}
          </ion-item-divider>
         
          <ion-item>
            <ion-input type="hidden" [(ngModel)]="radioanime" name="radioanime"></ion-input>
            <ion-input slot="start" [(ngModel)]="n_episodes" name="n_episodes" type="number" ></ion-input>
          </ion-item>
          
          <ion-item-divider color="medium">
            {{ strings.animeOpt.score }} <ion-chip slot="end" color="primary">{{getnote.score}}</ion-chip>
          </ion-item-divider>
          <ion-item>
            <label>{{ strings.animeOpt.score }} <ion-icon name="star"></ion-icon></label>
            <ion-select [(ngModel)]="score" name="score" interface="popover" value="{{ getnote.score }}">
              
              <ion-select-option  *ngFor="let s of scoreArr" value="{{ s }}">{{ s }}  </ion-select-option>
            </ion-select>
          </ion-item>
          <div class="text-center"> 
            <ion-button (click)="addWatching(1)"><ion-icon name="add-circle-outline"></ion-icon> {{ strings.update }}</ion-button>
          </div>
    </div>
    <!-- End Menu Watching Section -->

    <!-- Completed Menu Section -->
    <div *ngIf="option==2">
      <ion-item-divider color="medium">
        {{ strings.animeListOpt.howManyTimes }}
      </ion-item-divider>
      
        
      <ion-item>
        <ion-input type="number" placeholder="{{ strings.typeHere }}" [(ngModel)]="completed" name="completed"></ion-input>
      </ion-item>
      
      <ion-item-divider color="medium">
        {{ strings.animeOpt.score }} <ion-chip slot="end" color="primary">{{getnote.score}}</ion-chip>
      </ion-item-divider>
        <ion-item>
          <label>{{ strings.animeOpt.score }} <ion-icon name="star"></ion-icon></label>
          <ion-select [(ngModel)]="score" name="score" interface="popover" value="{{getnote.score}}" >
            
            <ion-select-option  *ngFor="let s of scoreArr" value="{{ s }}">{{ s }}  </ion-select-option>
          </ion-select>
          
        </ion-item>

        <div class="text-center"> 
          <ion-button (click)="addWatching(2)"><ion-icon name="add-circle-outline"></ion-icon> Update</ion-button>
        </div>
        
    </div>
    <!-- End Completed Menu Section -->

    <!-- Begin plan to watch Menu Section -->
    <div *ngIf="option==5">
      <ion-item-divider color="medium">
        {{ strings.animeListOpt.ptw }}
      </ion-item-divider>
        
        <ion-button color="primary" (click)="addWatching(3)">
          {{ strings.animeListOpt.addPtw }}
        </ion-button>
      
    </div>
    <!-- End Dropped Menu Section -->


    <!-- Begin Dropped Menu Section -->
    <div *ngIf="option==3">
      <ion-item-divider color="medium">
        {{ strings.animeListOpt.dropped }}
      </ion-item-divider>
        
        <ion-item>
          <label>{{ strings.animeOpt.score }} <ion-icon name="star"></ion-icon></label>
          <ion-select [(ngModel)]="score" name="score" interface="popover" value="notifications" (ionChange)="addWatching(4)">
            <ion-select-option  *ngFor="let s of scoreArr" value="{{ s }}">{{ s }}  </ion-select-option>
          </ion-select>
        </ion-item>
        
      
    </div>
    <!-- End Dropped Menu Section -->


    <!-- Update Note-->
    <div  *ngIf="option == 6">
      <ion-item-divider color="medium">
        {{ strings.animeListOpt.writeNote }}
      </ion-item-divider>
      <ion-input type="textarea" name="note" [(ngModel)]="note" placeholder="{{ strings.animeList.Opt.writeNote }}" value="{{getnote.note}}"></ion-input>
        <ion-button color="primary" (click)="addNote(getnote.id)"><ion-icon name="add-circle-outline"></ion-icon>  {{ strings.update }}</ion-button>
      </div>
   
    <!-- End Update  Note -->

    

  </div>

  <div class="ad-margin"></div>
</ion-content>
