<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button>
        <ion-text color="light" (click)="dismiss()">
          CLOSE
        </ion-text>
      </ion-button>
    </ion-buttons>
    <ion-title> 
      <ion-text color="light">
        Edit Anime
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="padding-container" *ngIf="getnote">
    <ion-item>
      <ion-thumbnail slot="start">
      <img height="200px" [src]="getnote.anime.image_url">
      </ion-thumbnail>
      <ion-label>
        <h4>
          {{ getnote.anime.name }}
        </h4>
        <p *ngIf="getnote.status"><b>Status: <ion-text color="primary"> {{ getnote.status.tag }}</ion-text></b></p>
      </ion-label>
    </ion-item>
    <ion-card>
      <ion-card-content>
        
        {{ getnote.note }}
        
      </ion-card-content>
    </ion-card>
    <ion-grid>
      <ion-row>
        

        <ion-col size="6">
          <ion-item>
            <ion-button color="primary" (click)="changeMenuOptions(6)">Add Note</ion-button>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-item>
      <ion-label><h4>Change Status</h4></ion-label>
      <ion-select interface="action-sheet" value="notifications"  [(ngModel)]="options" name="options" (ionChange)="changeSelectOptions()">
        <ion-select-option value="1">Watching</ion-select-option>
        <ion-select-option value="2">Completed</ion-select-option>
        <ion-select-option value="5">Plan To Watch</ion-select-option>
        <ion-select-option value="3">Dropped</ion-select-option>
      </ion-select>
    </ion-item>


    

    <!-- Watching Menu Section -->
    <div *ngIf="option==1">
          <ion-item-divider color="medium">
            Episodes
          </ion-item-divider>
         
          <ion-item>
            <ion-input type="hidden" [(ngModel)]="radioanime" name="radioanime"></ion-input>
            <ion-input slot="start" [(ngModel)]="n_episodes" name="n_episodes" type="number" ></ion-input>
          </ion-item>
          
          <ion-item-divider color="medium">
            Score <ion-chip slot="end" color="primary">{{getnote.score}}</ion-chip>
          </ion-item-divider>
          <ion-item>
            <label>Score <ion-icon name="star"></ion-icon></label>
            <ion-select [(ngModel)]="score" name="score" interface="action-sheet" value="{{ getnote.score }}">
              
              <ion-select-option  *ngFor="let s of scoreArr" value="{{ s }}">{{ s }}  </ion-select-option>
            </ion-select>
          </ion-item>
          <div class="text-center"> 
            <ion-button (click)="addWatching(1)"><ion-icon name="add-circle-outline"></ion-icon> Update</ion-button>
          </div>
    </div>
    <!-- End Menu Watching Section -->

    <!-- Completed Menu Section -->
    <div *ngIf="option==2">
      <ion-item-divider color="medium">
        How Many Times?
      </ion-item-divider>
      
        
      <ion-item>
        <ion-input type="number" placeholder="Type here" [(ngModel)]="completed" name="completed"></ion-input>
      </ion-item>
      
      <ion-item-divider color="medium">
        Score <ion-chip slot="end" color="primary">{{getnote.score}}</ion-chip>
      </ion-item-divider>
        <ion-item>
          <label>Score <ion-icon name="star"></ion-icon></label>
          <ion-select [(ngModel)]="score" name="score" interface="action-sheet" value="{{getnote.score}}" >
            
            <ion-select-option  *ngFor="let s of scoreArr" value="{{ s }}">{{ s }}  </ion-select-option>
          </ion-select>
          
        </ion-item>

        <div class="text-center"> 
          <ion-button (click)="addWatching(2)"><ion-icon name="add-circle-outline"></ion-icon> Update</ion-button>
        </div>
        
    </div>
    <!-- End Completed Menu Section -->

    <!-- Begin plan to watch Menu Section -->
    <div *ngIf="option==5">
      <ion-item-divider color="medium">
        Plan to Watch
      </ion-item-divider>
        
        <ion-button color="primary" (click)="addWatching(3)">
          Add to Plan To Watch
        </ion-button>
      
    </div>
    <!-- End Dropped Menu Section -->


    <!-- Begin Dropped Menu Section -->
    <div *ngIf="option==3">
      <ion-item-divider color="medium">
        Dropped
      </ion-item-divider>
        
        <ion-item>
          <label>Score <ion-icon name="star"></ion-icon></label>
          <ion-select [(ngModel)]="score" name="score" interface="action-sheet" value="notifications" (ionChange)="addWatching(4)">
            <ion-select-option  *ngFor="let s of scoreArr" value="{{ s }}">{{ s }}  </ion-select-option>
          </ion-select>
        </ion-item>
        
      
    </div>
    <!-- End Dropped Menu Section -->


    <!-- Update Note-->
    <div  *ngIf="option == 6">
      <ion-item-divider color="medium">
        Write your Note
      </ion-item-divider>
      <ion-input type="textarea" name="note" [(ngModel)]="note" placeholder="Write your Note Here" value="{{getnote.note}}"></ion-input>
        <ion-button color="primary" (click)="addNote(getnote.id)"><ion-icon name="add-circle-outline"></ion-icon>  Update</ion-button>
      </div>
   
    <!-- End Update  Note -->

    

  </div>


</ion-content>
