<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button>
        <ion-text color="light" (click)="dismiss()">
          CLOSE
        </ion-text>
      </ion-button>
    </ion-buttons>
    <ion-title> 
      <ion-text color="light">
        Edit Anime
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="padding-container" *ngIf="getnote">
    <ion-item>
      <ion-thumbnail slot="start">
      <img height="200px" [src]="getnote.anime.image_url">
      </ion-thumbnail>
      <ion-label>
        <h4>
          {{ getnote.anime.name }}
        </h4>
        <p *ngIf="getnote.status"><b>Status: <ion-text color="primary"> {{ getnote.status.tag }}</ion-text></b></p>
      </ion-label>
    </ion-item>
    <ion-card>
      <ion-card-content>
        
        {{ getnote.note }}
        
      </ion-card-content>
    </ion-card>
    <ion-grid>
      <ion-row>
        

        <ion-col size="6">
          <ion-item>
            <ion-button color="primary" (click)="changeMenuOptions(6)">Add Note</ion-button>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-item>
      <ion-label><h4>Change Status</h4></ion-label>
      <ion-select interface="action-sheet" value="notifications"  [(ngModel)]="options" name="options" (ionChange)="changeSelectOptions()">
        <ion-select-option value="1">Watching</ion-select-option>
        <ion-select-option value="2">Completed</ion-select-option>
        <ion-select-option value="5">Plan To Watch</ion-select-option>
        <ion-select-option value="3">Dropped</ion-select-option>
      </ion-select>
    </ion-item>


    

    <!-- Watching Menu Section -->
    <div *ngIf="option==1">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <ion-text color="primary">
              <b>Watching</b>
            </ion-text>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label>
              Episodes
              
            </ion-label>
            <ion-input type="hidden" [(ngModel)]="radioanime" name="radioanime"></ion-input>
            <ion-input [(ngModel)]="n_episodes" name="n_episodes" type="number" (ionChange)="addWatching(1)"></ion-input>
            <ion-button  slot="end" (click)="addEpisodeButton()"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
          </ion-item>
          
          <ion-item>
            <label>Score <ion-icon name="star"></ion-icon></label>
            <ion-select [(ngModel)]="score" name="score" interface="action-sheet" value="notifications" (ionChange)="addWatching(1)">
              <ion-select-option value="{{ getnote.score }}" selected>{{ getnote.score }}</ion-select-option>
              <ion-select-option  *ngFor="let s of scoreArr" value="{{ s }}">{{ s }}  </ion-select-option>
            </ion-select>
          </ion-item>
          
        </ion-card-content>
      </ion-card>
    </div>
    <!-- End Menu Watching Section -->

    <!-- Completed Menu Section -->
    <div *ngIf="option==2">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <ion-text color="primary">
              <b>Completed</b>
            </ion-text>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
      <ion-item>
        <ion-label>
          How Many Times?
        </ion-label>
        <ion-input type="number" placeholder="Type here" [(ngModel)]="completed" name="completed" (ionChange)="addWatching(2)"></ion-input>
        
      </ion-item>
      
      
        <ion-item>
          <label>Score <ion-icon name="star"></ion-icon></label>
          <ion-select [(ngModel)]="score" name="score" interface="action-sheet" value="notifications" (ionChange)="addWatching(2)">
            <ion-select-option value="{{ getnote.score }}" selected>{{ getnote.score }}</ion-select-option>
            <ion-select-option  *ngFor="let s of scoreArr" value="{{ s }}">{{ s }}  </ion-select-option>
          </ion-select>
          
        </ion-item>
        <ion-button  slot="end"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
        </ion-card-content>
        </ion-card>
    </div>
    <!-- End Completed Menu Section -->

    <!-- Begin plan to watch Menu Section -->
    <div *ngIf="option==5">
      <ion-card>
        <ion-item>
          <ion-label>
            <h4>Plan To Watch</h4>
          </ion-label>
        </ion-item>
        <ion-button color="primary" (click)="addWatching(3)">
          Add to Plan To Watch
        </ion-button>
      </ion-card>
    </div>
    <!-- End Dropped Menu Section -->


    <!-- Begin Dropped Menu Section -->
    <div *ngIf="option==3">
      <ion-card>
        <ion-item>
          <ion-label>
            <h4>Dropped</h4>
          </ion-label>
        </ion-item>
        <ion-item>
          <label>Score <ion-icon name="star"></ion-icon></label>
          <ion-select [(ngModel)]="score" name="score" interface="action-sheet" value="notifications" (ionChange)="addWatching(4)">
            <ion-select-option  *ngFor="let s of scoreArr" value="{{ s }}">{{ s }}  </ion-select-option>
          </ion-select>
        </ion-item>
        
      </ion-card>
    </div>
    <!-- End Dropped Menu Section -->


    <!-- Update Note-->
    <ion-card *ngIf="option == 6">
      <ion-card-content>
        <h3>Write your Note</h3>
        <ion-input type="textarea" name="note" [(ngModel)]="note" placeholder="Write your Note Here" value="{{getnote.note}}"></ion-input>
        <ion-button color="primary" (click)="addNote(getnote.id)">Update</ion-button>
      </ion-card-content>
    </ion-card>
    <!-- End Update  Note -->

    

  </div>


</ion-content>
