<ion-header *ngIf="strings">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      
      <ion-button  (click)="openFirst()"><ion-icon color="light" name="menu"></ion-icon></ion-button>
      
    </ion-buttons>
    <ion-buttons slot="end">
    
      <ion-button (click)="userPopover($event)">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
   
    <ion-title>
      <ion-text color="light">
        <b>{{ strings.userDetails }}</b>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="strings">

  <div *ngIf="userdata && strings">

    <div class="profile-wrap" *ngIf="userdata">
      <div class="user-img text-center avatar-image" style="background-image: url('{{ userdata.profile.image_url }}');"></div>
    <div>
      <div  class="profile-header" *ngIf="userdata.profile.cover_url == undefined">
        <div class="user-img text-center" style="background-image: url('{{ userdata.profile.image_url }}');">
          
    
        </div>
        
      </div>

      <div *ngIf="userdata.profile.cover_url" class="cover-img" style="background-image: url('{{ userdata.profile.cover_url }}');">
        
          
    
          
          
            
            
          
          
        </div>
        
    
        </div>
    
    
    
    
    
    
      <div  class="padding-container box-div" *ngIf="userdata">
        
        <h5 class="text-center">@{{ userdata.username }} </h5>
        
        <ion-grid>
          <ion-row>
            
            <ion-col size="12">
              <div *ngIf="detectfollowing">
                
                <ion-button class="img-center" *ngIf="detectfollowing.f_state == 1" color="primary" (click)="Follow()">
                  <ion-text color="light">
                    Follow
                  </ion-text>
                </ion-button>
                
                <ion-button class="img-center" *ngIf="detectfollowing.f_state == 0" color="light" (click)="Follow()">
                  <ion-text color="primary">
                    unfollow
                  </ion-text>
                </ion-button>
              
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>


    
    
  </div>



  <ion-item-divider color="medium" *ngIf="userdata">
    {{ userdata.username }} {{ strings.statistics }}
  </ion-item-divider>


  <div class="padding-container" *ngIf="extradata">

    <ion-grid>
      <ion-row>

        <ion-col >
          <p class="text-center">{{ strings.days }}</p>
          <p class="text-center" *ngIf="totaldays">{{ totaldays }}</p>
        </ion-col>

        <ion-col >
          <p class="text-center"><ion-icon name="eye" color="success"></ion-icon></p>
          <p class="text-center">{{ extradata.animes_watching }}</p>
        </ion-col>

        <ion-col >
          <p class="text-center"><ion-icon name="checkmark-done" color="warning"></ion-icon></p>
          <p class="text-center">{{ extradata.animes_completed }}</p>
        </ion-col>

        <ion-col >
          <p class="text-center"><ion-icon name="bookmark" color="dark"></ion-icon></p>
          <p class="text-center">{{ extradata.animes_plan }}</p>
        </ion-col>
        <ion-col >
          <p class="text-center"><ion-icon name="close" color="danger"></ion-icon></p>
          <p class="text-center">{{ extradata.animes_dropped }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
  <ion-item-divider color="medium" *ngIf="userdata">
    {{ userdata.username }} {{ strings.menuOpt.customLists }}
  </ion-item-divider>
    <div class="padding-container">
      <ion-item [routerLink]="['/publiccustomlist/',  c.id ]" *ngFor="let c of customlist">
        <ion-thumbnail slot="start">
          <img [src]=" c.image_url">
        </ion-thumbnail>
        <ion-label>{{c.title}}</ion-label>
      </ion-item>
    </div> 
    

    <ion-item-divider color="medium" *ngIf="userdata">
      {{ userdata.username }} {{ strings.recentlyCompleted }}
    </ion-item-divider>
  

      <div class="padding-container" *ngIf="userdata">
      <ion-item [routerLink]="['/animedetails/',  anime.anime.id ]" *ngFor="let anime of animedata">
        <ion-thumbnail slot="start">
          <img [src]="anime.anime.image_url">
        </ion-thumbnail>
        <ion-label>{{anime.anime.name}}</ion-label>
      </ion-item>
      
        
        <ion-button class="img-center" color="primary" [routerLink]="['/publiclist/',  userdata.id ]">
          <ion-text color="light">
            {{ strings.showFullList }}
          </ion-text>
        </ion-button>
      </div>
    

  

<div class="ad-margin"></div>
  </ion-content>


