.a_quickop{
    padding-left:27%;
    padding-right:27%;
    padding-top:10px;
    padding-bottom:10px;
    border-style: solid 2px black;
    border-radius: 15px;
}

.font-large{
    font-size:30px;
    
}