<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="openFirst()"><ion-icon color="light" name="menu"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
      <b>Follower Update</b>
    </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padding-container" *ngIf="getlist !== undefined">
    <div class="cubic ">
      <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <label><h5><b>Last Follower Updates</b></h5></label>
                
              </ion-item>
            </ion-col>
            
          </ion-row>
        </ion-grid>
        
        <ion-item *ngFor="let list of it">
            <ion-thumbnail slot="start">
              <img [routerLink]="['/animedetails/',  list.anime.id ]" height="150px" [src]="list.anime.image_url">
            </ion-thumbnail>
            <label>

              <!-- Is watching-->
              <div *ngIf="list.status.val == 1">
                <ion-chip color="primary" [routerLink]="['/userdetails/',  list.user.id ]">
                  <ion-avatar>
                    <img [src]="list.user.profile.image_url" />
                  </ion-avatar>
                  <ion-label>{{ list.user.username }}</ion-label>
                </ion-chip>
                <ion-text color="success" class="text-bold" >is Watching</ion-text> <br>
                <ion-text [routerLink]="['/animedetails/',  list.anime.id ]">{{ list.anime.name }}</ion-text>
              </div>


              <!-- Has completed-->
              <div *ngIf="list.status.val == 2">
                <ion-chip color="primary" [routerLink]="['/userdetails/',  list.user.id ]">
                  <ion-avatar>
                    <img [src]="list.user.profile.image_url" />
                  </ion-avatar>
                  <ion-label>{{ list.user.username }}</ion-label>
                </ion-chip>
                <ion-text color="medium" class="text-bold">Completed</ion-text> <br>
                <ion-text [routerLink]="['/animedetails/',  list.anime.id ]">{{ list.anime.name }}</ion-text>
              </div>

              <!-- Plans to Watch -->
              <div *ngIf="list.status.val == 5">
                <ion-chip color="primary" [routerLink]="['/userdetails/',  list.user.id ]">
                  <ion-avatar>
                    <img [src]="list.user.profile.image_url" />
                  </ion-avatar>
                  <ion-label>{{ list.user.username }}</ion-label>
                </ion-chip>
                <ion-text class="text-bold">Plans to Watch</ion-text> <br>
                <ion-text [routerLink]="['/animedetails/',  list.anime.id ]">{{ list.anime.name }}</ion-text>
              </div>

              <!-- Dropped -->

              <div *ngIf="list.status.val == 3">
                <ion-chip color="primary" [routerLink]="['/userdetails/',  list.user.id ]">
                  <ion-avatar>
                    <img [src]="list.user.profile.image_url" />
                  </ion-avatar>
                  <ion-label>{{ list.user.username }}</ion-label>
                </ion-chip>
                <ion-text color="danger" class="text-bold">Dropped</ion-text> <br>
                <ion-text [routerLink]="['/animedetails/',  list.anime.id ]">{{ list.anime.name }}</ion-text>
              </div>


            </label>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          color="primary"
          loadingSpinner="circular"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </div>
</ion-content>
