<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="openFirst()"><ion-icon color="light" name="menu"></ion-icon></ion-button>
    </ion-buttons>
    
    <ion-title>
      <ion-text color="light">
        <b>Search User</b>
      </ion-text>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="search" name="search" (ionChange)="searchUser()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div *ngIf="userdata">
    <ion-item [routerLink]="['/userdetails/',  u.id ]" *ngFor="let u of userdata" >
      <ion-thumbnail slot="start">
        <img [src]="u.profile.image_url">
      </ion-thumbnail>
      <ion-label>
        <h3>{{ u.username }}</h3>
        
        
      </ion-label>
    </ion-item>
    </div>
    <div class="ad-margin"></div>
</ion-content>


