<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="openFirst()"><ion-icon color="light" name="menu"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="addAnimeModal(u_custom.id)"><ion-icon name="add"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <b>Custom Anime List</b>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <div class="anime-wrap" *ngIf="u_custom">


    
      <div class="anime-image" style="background-image: url('{{u_custom.image_url}}')"></div>
      <div class="title-box">
        
        <h6><b>{{u_custom.title}}</b></h6>
      </div>

      <div class="user-font" [routerLink]="['/userdetails/',  u_custom.user.id ]">
        {{ u_custom.user.username }}
      </div>
  
      
  
      
  
      <div style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.95)), url('{{u_custom.image_url}}')" class="cover-anime">
        
      </div>
  
      <div class="header-div">
  
        <div class="extreme-top text-center">
        
            
      
      
    
  </div>
  
      </div>
  
      
      
      
  
  
  
  
  
  
   




  </div>



  <div *ngIf="u_custom" class="margin-header">
    <ion-item-divider color="medium">
      Anime list
    </ion-item-divider>
    
    
        <div class="padding-container">
        <ion-item  *ngFor="let anime of it">
          <ion-thumbnail slot="start" [routerLink]="['/animedetails/',  anime.anime.id ]" >
            <img [src]=" anime.anime.image_url ">
          </ion-thumbnail>
          <label [routerLink]="['/animedetails/',  anime.anime.id ]">
            {{ anime.anime.name }}
          </label>
          <ion-button slot="end" (click)="alertDelete(anime.anime.id)">
            <ion-icon name="trash-sharp"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
    
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      color="primary"
      loadingSpinner="circular"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
  
  <div class="ad-margin"></div>
</ion-content>
