<ion-header *ngIf="strings">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="openFirst()"><ion-icon color="light" name="menu"></ion-icon></ion-button>
    </ion-buttons>
    
    <ion-title>
      <ion-text *ngIf="userdata" color="light">
        {{ userdata.username }} {{ strings.animeListOpt.aniList }}
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="strings">
  <div>
    <!-- Default Segment -->
  <ion-segment color="primary" scrollable (ionChange)="segmentChanged($event)" value="all">
    <ion-segment-button value="all" (click)="animeList(0)" layout="icon-start">
      <ion-icon name="infinite-sharp"></ion-icon>
      <ion-label>{{ strings.all }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="watching" (click)="animeList(1)" layout="icon-start">
      <ion-icon name="eye" ></ion-icon>
      <ion-label>{{ strings.animeListOpt.watching }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="completed" (click)="animeList(2)" layout="icon-start">
      <ion-icon name="checkmark-done" ></ion-icon>
      <ion-label>{{ strings.animeListOpt.completed }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="ptw" (click)="animeList(3)" layout="icon-start">
      <ion-icon name="bookmark"></ion-icon>
      <ion-label>{{ strings.animeListOpt.ptw }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="dropped" (click)="animeList(4)" layout="icon-start">
      <ion-icon name="close"></ion-icon>
      <ion-label>{{ strings.animeListOpt.dropped }}</ion-label>
    </ion-segment-button>
  </ion-segment>
</div>




<div class="padding-container">
  
  


  



  
  <div>
    
    
    <div>

      <ion-grid>
        <ion-row>

          <ion-col size="6" *ngFor="let anime of animedata" >
            <ion-card>
              <div class="card-header">
                <ion-grid>
                  <ion-row>
                    <ion-col size="8" style="padding-top:20px">
                      <div *ngIf="anime.status.val == 1"> 
                        <b> <ion-text color="success" *ngIf="idi == 'en'">{{ anime.status.tag }}</ion-text></b><br>
                        <b> <ion-text color="success" *ngIf="idi == 'pt' || idi == 'br'">{{ anime.status.tag_pt }}</ion-text></b><br>
                        {{anime.episodes_number}} Of  {{ anime.anime.episodes_number }} Eps
                        
                    </div>
                  
                  
                    <div *ngIf="anime.status.val == 2">
                      
                       <p><ion-text color="warning" *ngIf="idi == 'en'"> {{ anime.status.tag }}</ion-text><br>
                        <p><ion-text color="warning" *ngIf="idi == 'pt' || idi == 'br'"> {{ anime.status.tag_pt }}</ion-text><br>
                        
                    </div>
                  
                    <div *ngIf="anime.status.val == 3">
                      
                      <b> <ion-text color="danger" *ngIf="idi == 'en'"> {{ anime.status.tag }}</ion-text></b>
                      <b> <ion-text color="danger" *ngIf="idi == 'pt' || idi == 'br'"> {{ anime.status.tag_pt }}</ion-text></b>
                      
                       
                        
                    </div>
                  
                    <div *ngIf="anime.status.val == 5">
                      
                      <b> <ion-text *ngIf="idi == 'en'"> {{ anime.status.tag }}</ion-text></b>
                      <b> <ion-text *ngIf="idi == 'pt' || idi == 'br'"> {{ anime.status.tag_pt }}</ion-text></b>
                        
                        
                    </div>
                    </ion-col>
                    
                    <ion-col size="4">
                     
                      <ion-chip color="primary">
                        {{ anime.score }}
                      </ion-chip>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
              <div class="anime-list-image" style="background-image: url('{{ anime.anime.image_url }}');" [routerLink]="['/animedetails/',  anime.anime.id ]">
    
              </div>
              <div class="card-header">
                <p> {{ anime.anime.name | slice:0:20}}... </p>
              </div>
              
              
              </ion-card>
              
          </ion-col>
        </ion-row>
      </ion-grid>
      






      <div >
        
      
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="text-center">
         
        </ion-col>
        
      </ion-row>
    </ion-grid>

    



  </div>



    
    

  </div>
 
  </div>
  
  
  

<!--
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      color="primary"
      loadingSpinner="circular"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>-->
</div>











  
      
        
      
  <div class="ad-margin"></div>
</ion-content>
