<ion-header *ngIf="strings">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button  (click)="openFirst()"><ion-icon color="light" name="menu"></ion-icon></ion-button>
      
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button slot="end">
        <ion-text color="light" (click)="dismiss()">
          {{ strings.close }}
        </ion-text>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <b>{{ strings.profileOpts.reportUser }}</b>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content *ngIf="strings">
  <ion-list>
    <ion-radio-group name="motive" [(ngModel)]="motive">
      <ion-list-header>
        <ion-label>{{ strings.profileOpts.reportMotive }}</ion-label>
      </ion-list-header>
  
      <ion-item *ngFor="let item of motives">
        <ion-label *ngIf="idi == 'en'">{{ item.motive }}</ion-label>
        <ion-label *ngIf="idi == 'pt' || idi == 'br'">{{ item.motive_pt }}</ion-label>
        <ion-radio slot="start" value="{{ item.id }}"></ion-radio>
      </ion-item>
  
      
    </ion-radio-group>
  </ion-list>
  <ion-button (click)="reportButton()">
    {{ strings.report }}
  </ion-button>
  <div class="ad-margin"></div>
</ion-content>
