<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="openFirst()"><ion-icon color="light" name="menu"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light"><b>Reviews</b></ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <ion-item *ngFor="let r of it" [routerLink]="['/showreview/',  r.id ]">
      <ion-avatar slot="start">
        <img [src]="r.user.profile.image_url">
      </ion-avatar>
      <ion-label>
        <h5><ion-text color="primary"><b>{{ r.user.username }}</b></ion-text></h5>
        {{ r.review | slice:0:75 }} <br> <h4 >Show More...</h4>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      color="primary"
      loadingSpinner="circular"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <div class="ad-margin"></div>
</ion-content>
