<ion-header *ngIf="strings">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button>
        <ion-text color="light" (click)="dismiss()">
          {{ strings.close }}
        </ion-text>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        {{ strings.animeListOpt.createCustomList }}
      </ion-text>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="strings">
  <div class="padding-container">
    <ion-item>
      <ion-label>
        <h3>{{ strings.animeListOpt.createCustomList }} </h3>
      </ion-label>
    </ion-item>
    <div *ngIf="error" class="text-center">
      <h6><ion-text color="danger">{{ error }}</ion-text></h6>
    </div>
    <ion-item>
      <ion-label>
        {{ strings.animeOpt.title }}
      </ion-label>
      <ion-input name="title" [(ngModel)]="title" placeholder="{{ strings.animeOpt.title }}"></ion-input>
    </ion-item>
    <ion-item>
    
       <ion-label>{{ strings.animeListOpt.addThumbnail }}</ion-label>
      
    </ion-item>
    <ion-searchbar [(ngModel)]="search" name="search" (ionChange)="searchData()" placeholder="{{ strings.search }}"></ion-searchbar>
    
      <ion-button color="primary" (click)="createCustomList()">{{ strings.animeListOpt.createCustomList }}</ion-button>
    
    <div *ngIf="postresponse">
      {{ postresponse.msg }}
    </div>
    <div class="padding-container" *ngIf="searchdata">
      <ion-list>
        <ion-radio-group [(ngModel)]="main" name="main" >
      <ion-item *ngFor="let anime of searchdata">
        <ion-thumbnail slot="start">
          <img [src]="anime.image_url">
        </ion-thumbnail>
        <ion-label>
          <h3>{{anime.name}}</h3>
          <p>{{ strings.animeOpt.epsNumber }}: {{ anime.episodes_number }}</p>
        </ion-label>
        <ion-radio slot="end" value="{{ anime.id }}"></ion-radio>
      </ion-item>
    </ion-radio-group>
    </ion-list>
    </div>
    
  </div>
  <div class="ad-margin"></div>
</ion-content>
