<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button>
        <ion-text color="light" (click)="dismiss()">
          CLOSE
        </ion-text>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        User Details
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="uploadType == undefined">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="text-center">
            <h3>Profile Image and Cover Upload</h3>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="text-center">
            <ion-button color="primary" (click)="changeUploadType('pimage')">
              User Image
            </ion-button>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="text-center">
            <ion-button color="primary" (click)="changeUploadType('pcover')">
              Cover Image
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>



  <ion-card *ngIf="uploadType == 'pimage'">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="text-center">
            <h4>Update Image</h4>
          </div>
        </ion-col>
        <ion-col *ngIf="base64Image" size="12">
          <div  class="text-center">
            <h6>Preview</h6>
          </div>
          <div  class="user-img text-center" style="background-image: url('{{base64Image}}');">
            
            
            
          </div>
          <div  class="text-center">
            <ion-button color="primary" (click)="uploadCover()">Upload</ion-button>
          </div>
        </ion-col>
       
      
      <ion-col size="6">
        <div class="text-center">
          <ion-button color="primary" (click)="openCamera()"><ion-icon name="camera" slot="start"></ion-icon> Camera</ion-button>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="text-center">
          <ion-button color="primary" (click)="openGallery()"><ion-icon name="images" slot="start"></ion-icon> Gallery</ion-button>
        </div>
      </ion-col>
        
      </ion-row>
    </ion-grid>
</ion-card>

<!-- cover section -->
<ion-card *ngIf="uploadType == 'pcover'">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="text-center">
          <h4>Update Cover</h4>
        </div>
      </ion-col>
      <ion-col *ngIf="base64Image" size="12">
        <div  class="text-center">
          <h6>Preview</h6>
        </div>
        <div  class="cover-img text-center" style="background-image: url('{{base64Image}}');">
          
          
          
        </div>
        <div  class="text-center">
          <ion-button color="primary" (click)="uploadCover()">Upload</ion-button>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="text-center">
          <ion-button color="primary" (click)="openCamera()"><ion-icon name="camera" slot="start"></ion-icon> Camera</ion-button>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="text-center">
          <ion-button color="primary" (click)="openGallery()"><ion-icon name="images" slot="start"></ion-icon> Gallery</ion-button>
        </div>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-card>
</ion-content>
