<ion-header *ngIf="strings">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button>
        <ion-text color="light" (click)="dismiss()">
          Fechar
        </ion-text>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        Detalhes do usuário
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  



  




<ion-card>
  <ion-card-content>
    <h4>{{ strings.profileOpts.excludedMsg }}</h4>
    <ion-item>
      <ion-label>
        {{ strings.rating }}
      </ion-label>
      <ion-select [(ngModel)]="rating" name="rating" interface="popover">
        <div *ngIf="idi == 'en'">
          <ion-select-option *ngFor="let g of getrating" value="{{ g.id }}">{{ g.rating }}</ion-select-option>
        </div>
        <div *ngIf="idi == 'pt' || idi == 'br'">
          <ion-select-option *ngFor="let g of getrating" value="{{ g.id }}">{{ g.rating_pt }}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
    <ion-button (click)="excludeRating()"> {{ strings.exclude }}</ion-button>
    <hr>
    
    <div *ngIf="getuser">
      <h4>{{ strings.profileOpts.excludedContent }}</h4>
    <ion-item *ngFor="let item of getuser.profile.rating">
      <ion-label slot="start" *ngIf="idi == 'en'">
        {{ item.rating }}
      </ion-label>
      <ion-label slot="start" *ngIf="idi == 'pt'">
        {{ item.rating_pt }}
      </ion-label>
        
          <ion-icon (click)="removeExcludeRating(item.id)" name="remove-circle" slot="end" color="danger"></ion-icon>
        
    </ion-item>
    <hr>
    <h4>{{ strings.profileOpts.blockedUsers }}</h4>
      <ion-item *ngFor="let item of getuser.profile.blockuser">
        <ion-label>
          {{ item.username }}
        </ion-label>
        <ion-icon (click)="removeBlockUser(item.id)" name="remove-circle" slot="end" color="danger"></ion-icon>
      </ion-item>
    </div>
</ion-card-content>
</ion-card>
<div class="ad-margin"></div>
</ion-content>
