<ion-header *ngIf="strings">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button>
        <ion-text color="light" (click)="dismiss()">
          {{ strings.close }}
        </ion-text>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        {{ strings.profileOpts.userDetails }}
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="strings">

  <ion-card *ngIf="uploadType == undefined">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="text-center">
            <h3>{{ strings.profileOpts.coverProfileImage }}</h3>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="text-center">
            <ion-button color="primary" (click)="changeUploadType('pimage')">
              {{ strings.profileOpts.userImage }}
            </ion-button>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="text-center">
            <ion-button color="primary" (click)="changeUploadType('pcover')">
              {{ strings.profileOpts.coverImage }}
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>



  <ion-card *ngIf="uploadType == 'pimage'">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="text-center">
            <h4>{{ strings.profileOpts.updateImage }}</h4>
          </div>
        </ion-col>
        <ion-col *ngIf="base64Image" size="12">
          <div  class="text-center">
            <h6>{{ strings.preview }}</h6>
          </div>
          <div  class="user-img text-center" style="background-image: url('{{base64Image}}');">
            
            
            
          </div>
          <div  class="text-center">
            <ion-button color="primary" (click)="uploadImage()">{{ strings.upload }}</ion-button>
          </div>
        </ion-col>
       
      
      <ion-col size="12">
        <div class="text-center">
          <ion-button color="primary" (click)="openCamera()"><ion-icon name="camera" slot="start"></ion-icon> {{ strings.camera }}</ion-button>
        </div>
      </ion-col>
      
        
      </ion-row>
    </ion-grid>
</ion-card>

<!-- cover section -->
<ion-card *ngIf="uploadType == 'pcover'">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="text-center">
          <h4>{{ strings.profileOpts.updateCover }}</h4>
        </div>
      </ion-col>
      <ion-col *ngIf="base64Image" size="12">
        <div  class="text-center">
          <h6>{{ strings.preview }}</h6>
        </div>
        <div  class="cover-img text-center" style="background-image: url('{{base64Image}}');">
          
          
          
        </div>
        <div  class="text-center">
          <ion-button color="primary" (click)="uploadCover()">{{ strings.upload }}</ion-button>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="text-center">
          <ion-button color="primary" (click)="openCamera()"><ion-icon name="camera" slot="start"></ion-icon> {{ strings.camera }}</ion-button>
        </div>
      </ion-col>
      
      
    </ion-row>
  </ion-grid>
</ion-card>


<ion-card>
  <ion-card-content>
    <h4>{{ strings.profileOpts.excludedMsg }}</h4>
    <ion-item>
      <ion-label>
        {{ strings.rating }}
      </ion-label>
      <ion-select [(ngModel)]="rating" name="rating" interface="popover">
        <div *ngIf="idi == 'en'">
          <ion-select-option *ngFor="let g of getrating" value="{{ g.id }}">{{ g.rating }}</ion-select-option>
        </div>
        <div *ngIf="idi == 'pt'">
          <ion-select-option *ngFor="let g of getrating" value="{{ g.id }}">{{ g.rating_pt }}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
    <ion-button (click)="excludeRating()"> {{ strings.exclude }}</ion-button>
    <hr>
    
    <div *ngIf="getuser">
      <h4>{{ strings.profileOpts.excludedContent }}</h4>
    <ion-item *ngFor="let item of getuser.profile.rating">
      <ion-label slot="start" *ngIf="idi == 'en'">
        {{ item.rating }}
      </ion-label>
      <ion-label slot="start" *ngIf="idi == 'pt'">
        {{ item.rating_pt }}
      </ion-label>
        
          <ion-icon (click)="removeExcludeRating(item.id)" name="remove-circle" slot="end" color="danger"></ion-icon>
        
    </ion-item>
    <hr>
    <h4>{{ strings.profileOpts.blockedUsers }}</h4>
      <ion-item *ngFor="let item of getuser.profile.blockuser">
        <ion-label>
          {{ item.username }}
        </ion-label>
        <ion-icon (click)="removeBlockUser(item.id)" name="remove-circle" slot="end" color="danger"></ion-icon>
      </ion-item>
    </div>
</ion-card-content>
</ion-card>
<div class="ad-margin"></div>
</ion-content>
