/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.text-bold{
    font-weight: bold;
}


.padding-container{
    padding:12px;
}

.profile-header{
    background-color: #fce4ec;
    height: 300px;
    padding-top:15px;
}

.cover-img{
    background-size: cover;
    width: 100%;
    height: 300px;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    padding-top:15px;
}

.user-img{
    background-color: white;
    width: 155px;
    height: 155px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
    background-size: cover;
   border-width:5px ;
   border-style: solid; 
   border-color: #7e57c2;
}

.img-circle{
    border-radius:50%;
}


.anime-header{
    background-color: #fce4ec;
    height: 250px;
    
}

.anime-image-header{
    background-color: transparent;
    margin-top:auto;
    align-content: center;
    text-align: center;
    padding-top:20px;
}

.text-center{
    text-align: center;
}

.component-center{
    text-align: center;
    
}

.component-fixed{
    position: fixed;
}

.font-med{
    font-size:40px;
}

.font-small{
    font-size:20px;
}
.font-micro{
    font-size:10px;
}
.white-section{
    background-color: white;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:5px;
    padding-bottom:5px;
}

.cubic{
    padding:10px;
    border-style:double;
    border-width: 5px;
    border-radius:20px;
    height: auto;
    min-height: auto;
    border-color: #d1c4e9;
    margin-top: 10px;
}

.card-med{
    height: 325px;
}

.img-center{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
    margin-right:auto;
    margin-left:auto;
}

.push-top{
    z-index: 3;
}

.slider-size{
    
    background-image: rgba(0, 0, 0, 0.1);
    width: 100%;
        
        height: 400px;
        
        background-size: 100% 100%;
}

.text-shadow{
    margin-top:100%;
    font-style: bold;
    
    margin-bottom: 0;
    font-weight: bold;
    text-shadow:1px 1px  white;
    text-align: left;
    margin-left: 10px;
    color:#7e57c2;
    
}

.slider-title{
    background-color: white;
    margin-bottom:0px;
    font-weight: bold;
    color:#7e57c2;
}

.bg-white{
    margin-top:0px;
    background-color: white;
    color:#7e57c2;
    text-align: left;
}

.left-align{
    text-align: left;
}

.margin-top{
    margin-top:10px;
}

.photo{
    
    margin-top:10px;
    border-radius:20px;
}

.menu-header{
    text-align: center;
    padding-top: 10px;
}


/* messages box */

.danger-box{
    background-color: #ffebee;
    text-align: center;
    color:#e53935;
    border-radius:40px;
    font-size: 18px;
}

.tiny-font{
    font-size:12px;
}


.cubic-tiny{
    border-style:double;
    border-width: 5px;
    border-radius:20px;
    height: auto;
    min-height: auto;
    border-color: #d1c4e9;
    margin-top: 10px;
}


.circle-border{
    border-style:double;
    border-width: 5px;
    border-radius:50%;
    width: 100px;
    height: 100px;
    min-height: auto;
    border-color: #d1c4e9;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}
.ov-img{
    overflow:hidden;
    height:125px ;
}

.card-medium{
    height: 310px;
}

.card-title{
    font-size: 13px;
}

.icon-large{
    font-size: 20px;
}

.card-header{
    padding-top:3px;
    padding-left: 3px;
    font-size: 20px;
    border-style: solid;
    border-width: 1px;
    background-color: #7e57c2;
}