/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.ad-margin{
    width: 100%;
    height: 100px;
}


.text-bold{
    font-weight: bold;
}


.padding-container{
    padding:20px;
    

    animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

.header-container{
    padding: 0;
}

.wrap-container{
    
    min-height: 100%;
    
    border-radius: 15px;
}

.profile-header{
    background-color: #fce4ec;
    height: 300px;
    padding-top:15px;
}


.profile-sub-header{
    
    text-shadow: 1px 1px #fff;
    font-weight: bolder;
    width: 50%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    
}

.cover-img{
    background-size: cover;
    width: 100%;
    height: 250px;
    
    padding-top:15px;
     
}


.box-div{
    height: 200px;
    width: 100%;
    padding-top: 35px;
}

.profile-wrap{
    height: 450px;
    width: 100%;
}

.avatar-image{
    display: block;
	top: 250px;
    left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.user-img{
    background-color: white;
    width: 100px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
    background-size: cover;
   border-width:5px ;
   border-style: solid; 
   border-color: white;
}

.img-circle{
    border-radius:50%;
}


.anime-header{
    background-color: #fce4ec;
    height: 250px;
    
}

.anime-image-header{
    background-color: transparent;
    margin-top:auto;
    align-content: center;
    text-align: center;
    padding-top:20px;
}

.anime-list-image{
    background-size: cover;
    height: 150px;
}

.text-center{
    text-align: center;
}

.component-center{
    text-align: center;
    
}

.component-fixed{
    position: fixed;
}

.font-med{
    font-size:40px;
}

.font-small{
    font-size:20px;
}
.font-micro{
    font-size:10px;
}
.white-section{
    background-color: white;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:5px;
    padding-bottom:5px;
}

.cubic{
    
    padding-bottom:10px;
    border-style:solid;
    border-width: 5px;
    border-radius:5px;
    height: auto;
    min-height: auto;
    border-color: #d1c4e9;
    margin-top: 10px;
    box-shadow: #d1c4e9 1px 1px 10px;
}

.card-med{
    height: 325px;
}

.img-center{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
    margin-right:auto;
    margin-left:auto;
}

.push-top{
    z-index: 3;
}

.slider-size{
    
    background-image: rgba(0, 0, 0, 0.1);
    width: 100%;
        
        height: 400px;
        
        background-size: 100% 100%;
}

.text-shadow{
    margin-top:100%;
    font-style: bold;
    
    margin-bottom: 0;
    font-weight: bold;
    text-shadow:1px 1px  white;
    text-align: left;
    margin-left: 10px;
    color:#7e57c2;
    
}

.slider-title{
    background-color: white;
    margin-bottom:0px;
    font-weight: bold;
    color:#7e57c2;
}

.bg-white{
    margin-top:0px;
    background-color: white;
    color:#7e57c2;
    text-align: left;
}

.left-align{
    text-align: left;
}

.margin-top{
    margin-top:10px;
}

.photo{
    
    margin-top:10px;
    border-radius:20px;
}

.menu-header{
    text-align: center;
    padding-top: 10px;
}


/* messages box */

.danger-box{
    background-color: #ffebee;
    text-align: center;
    color:#e53935;
    border-radius:40px;
    font-size: 18px;
}

.tiny-font{
    font-size:12px;
}


.cubic-tiny{
    border-style:solid;
    border-width: 5px;
    border-radius:5px;
    height: auto;
    min-height: auto;
    border-color: #d1c4e9;
    margin-top: 10px;
    box-shadow: #d1c4e9 1px 1px 10px;
}


.circle-border{
    border-style:double;
    border-width: 5px;
    border-radius:50%;
    width: 100px;
    height: 100px;
    min-height: auto;
    border-color: #d1c4e9;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}
.ov-img{
    height: 225px;
}


.card-medium{
    height: 310px;
}

.card-img-header{
    height: 150px;
    border-radius: 20px;
    background-size: cover;
}

.card-title{
    font-size: 13px;
}

.icon-large{
    font-size: 20px;
}

.card-header{
    padding-top:3px;
    padding-left: 3px;
    font-size: 12px;
    
}


ion-segment-button{
    min-width: auto;
}

spoiler{
    /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
}



.spoiler-active{
    font-size: large;
    filter: blur(0px);
  -webkit-filter: blur(0px);
}

.show-spoilers{
    
    font-size: large;
    filter: blur(0px);
  -webkit-filter: blur(0px);
}


.grid{
    padding: 5px;
}


@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
