<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="openFirst()"><ion-icon color="light" name="menu"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/tab1"><ion-icon color="light" name="home"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
      Custom List 
    </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <div class="anime-wrap" *ngIf="u_custom">


    
    <div class="anime-image" style="background-image: url('{{u_custom.image_url}}')"></div>
    <div class="title-box">
      
      <h6><b>{{u_custom.title}}</b></h6>
    </div>

    <div class="user-font" [routerLink]="['/userdetails/',  u_custom.user.id ]">
      {{ u_custom.user.username }}
    </div>

    

    

    <div style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.95)), url('{{u_custom.image_url}}')" class="cover-anime">
      
    </div>

    <div class="header-div">

      <div class="extreme-top text-center">
      
          
    
    
  
</div>

    </div>

    
    
    






 




</div>



<ion-item-divider color="medium" class="margin-header">
  Anime List
</ion-item-divider>
  <div class="padding-container ">
 

  
      <ion-item [routerLink]="['/animedetails/',  anime.anime.id ]" *ngFor="let anime of getdata">
        <ion-thumbnail slot="start" >
          <img [src]=" anime.anime.image_url ">
        </ion-thumbnail>
        <label>
          {{ anime.anime.name }}
        </label>
      </ion-item>
    
</div>
<div class="ad-margin"></div>
</ion-content>
