<ion-header *ngIf="strings">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      
      <ion-button (click)="openFirst()"><ion-icon color="light" name="menu"></ion-icon></ion-button>
    </ion-buttons>
    
    <ion-title>
      <ion-text color="light"><b>Detalhes do Anime</b></ion-text>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="animedata">
  
  <div class="anime-wrap" *ngIf="animedata">
    <div class="anime-image" style="background-image: url('{{animedata.image_url}}')"></div>
    <div class="title-box">
      
      <h6><b>{{animedata.name}}</b></h6>
    </div>

    <div *ngIf="animescore" slot="end">
             
      <div *ngIf="animescore.total_score !== null" class="score-font ">
        {{ animeScore }} <ion-icon name="star" size="small" slot="end"></ion-icon>
        
      
    </div>

   
      <div *ngIf="animescore.total_score == null" class="score-font ">
        
       <b > -- </b>
      </div>
    
    </div>

    <div style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.95)), url('{{cover}}')" class="cover-anime" *ngIf="animedata.cover_image_url">
      
    </div>

    <div style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.95)), url('{{animedata.image_url}}')" class="cover-anime" *ngIf="animedata.cover_image_url == undefined">
      
    </div>

    <div class="header-div">

      <div class="extreme-top text-center">
      <ion-grid >
        <ion-row>


          <ion-col size="6">
            
              <ion-button *ngIf="getstatus != ''" shape="round" color="primary" (click)="presentModal(animedata.id)" >
                <ion-icon name="create" slot="start"></ion-icon> Atualizar
              </ion-button>

              <ion-button *ngIf="getstatus == ''" shape="round" color="primary" (click)="presentModal(animedata.id)">
                <ion-icon name="add" slot="start"></ion-icon> Adicionar à lista
              </ion-button>
            
              
            
          </ion-col>

          
    
    
  
  <ion-col size="6">
    <p *ngIf="getstatus"> <b><ion-text *ngFor="let g of getstatus" >
      <p *ngIf="g.status.val == 1" >
         
         <ion-text color="success">{{ g.status.tag_pt }}</ion-text>
      </p>
      <p *ngIf="g.status.val == 2" >
        
        <ion-text color="warning">{{ g.status.tag_pt }}</ion-text>
      </p>
      <p *ngIf="g.status.val == 3" >
        <ion-text color="danger">{{ g.status.tag_pt }}</ion-text>
      </p>
      
    </ion-text></b></p>
  </ion-col>
  

    </ion-row>
  </ion-grid>
</div>

    </div>

    
    
    






  </div>





  <div class="extreme-top">
  
  
  
      
        
      
    

      
      

      <div class="padding-container">
          <!-- Default Segment -->
          <div class="white-section">
            <ion-segment scrollable (ionChange)="segmentChanged($event)" value="info">
              <ion-segment-button value="info" (click)="clickSegment(0)">
                <ion-icon name="infinite-sharp"></ion-icon>
                <ion-label>Info</ion-label>
              </ion-segment-button>
              <ion-segment-button value="details" (click)="clickSegment(1)">
                <ion-icon name="eye" ></ion-icon>
                <ion-label>Detalhes</ion-label>
              </ion-segment-button>
              
            </ion-segment>
        </div>
      </div>


<ion-item-divider color="medium">
  <ion-label>
    Estatísticas 
  </ion-label>
</ion-item-divider>

<div class="" *ngIf="extra">
  <ion-grid>
    <ion-row>
      <ion-col size="3" class="text-center">
        <h4><ion-text color="success"><ion-icon name="eye" color="success"></ion-icon></ion-text></h4>
        <p class="tiny-font">{{ extra.watching }} usuários</p>
      </ion-col>
      <ion-col size="3" class="text-center">
        <h4><ion-text ><ion-icon name="checkmark-done" color="warning"></ion-icon></ion-text></h4>
        <p class="tiny-font">{{ extra.completed }} usuários</p>
      </ion-col>
      <ion-col size="3" class="text-center">
        <h4><ion-text color="dark"><ion-icon name="bookmark" color="dark"></ion-icon></ion-text></h4>
        <p class="tiny-font">{{ extra.plan }} usuários</p>
      </ion-col>
      <ion-col size="3" class="text-center">
        <h4><ion-text color="danger"><ion-icon name="close" color="danger"></ion-icon></ion-text></h4>
        <p class="tiny-font">{{ extra.dropped }} usuários</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>


<!-- begin info section -->
  <div *ngIf="segment == 0">

    <!-- begin synopsis-->
    <ion-item-divider color="medium">
      <ion-label>
        Sinopse
      </ion-label>
    </ion-item-divider>

    <div class="padding-container">
    
      <label>
        
            <div *ngIf="h_synopsis == false" class="text-synopsis" [innerHTML]="animedata.sinopse_pt  "></div>
            <div *ngIf="h_synopsis == true" class="text-synopsis" [innerHTML]="animedata.sinopse_pt"></div>
          
          <p class="hidenshow" color="tertiary" *ngIf="h_synopsis == false" (click)="ShowHideSynopsis()"><ion-icon name="chevron-down-outline"></ion-icon></p>
          <p class="hidenshow" *ngIf="h_synopsis == true" (click)="ShowHideSynopsis()"><ion-icon name="chevron-up-outline"></ion-icon></p>
        
      </label>
    
    </div>
    <!-- end synopsis -->

  <!-- begin synopsis-->
  <ion-item-divider color="medium">
    <ion-label>
      Dados de Broadcast
    </ion-label>
  </ion-item-divider>

    <div class="padding-container">
    
      <ion-label>
        <h3><b>Número de episódios </b>{{ animedata.episodes_number }}</h3>
        <h3><b>Minutos por episódio </b>{{ animedata.minutes_per_episode }} min.</h3>
        <h3><b>Tipo :  </b>{{ animedata.type.type }} </h3>
        <h3><b>Fonte :   </b>{{ animedata.source.source }} </h3>
        <div *ngIf="animedata.date_option">

        <div *ngIf="animedata.date_option.id == 1">
          <h3><b>Começou em : </b>{{ animedata.aired | date:'MMMM , y' }}</h3>
        </div>
        <div *ngIf="animedata.date_option.id == 2">
          <h3><b>Começou em : </b>{{ animedata.aired | date:'y' }}</h3>
        </div>
        <div *ngIf="animedata.date_option.id == 3">
          <h3><b>Começou em : </b>{{ animedata.aired | date:'y' }}</h3>
          <h3><b>Terminou em : </b>{{ animedata.date_end | date:'y' }}</h3>
        </div>
        <div *ngIf="animedata.date_option.id == 4">
          <h3><b>Começou em : </b>{{ animedata.aired | date:'MMMM , y' }}</h3>
          <h3><b>Terminou em : </b>{{ animedata.date_end | date:'MMMM , y' }}</h3>
        </div>
        <div *ngIf="animedata.date_option.id == 5">
          <h3><b>Começou em : </b>{{ animedata.aired | date:'EEEE, MMMM d, y' }}</h3>
          <h3><b>Terminou em : </b>{{ animedata.date_end | date:'y' }}</h3>
        </div>
        <div *ngIf="animedata.date_option.id == 6">
          <h3><b>Começou em : </b>{{ animedata.aired | date:'EEEE, MMMM d, y' }}</h3>
          <h3><b>Terminou em : </b>{{ animedata.date_end | date:'MMMM, y' }}</h3>
        </div>
      </div>

        <div *ngIf="animedata.date_option == undefined">
          <h3><b>Broadcast : </b>{{ animedata.aired | date:'EEEE ' }}</h3>
          <h3><b>Começou em : </b>{{ animedata.aired | date:' MMMM d, y' }}</h3>
          <h3><b>Acabou em : </b>{{ animedata.date_end | date:' MMMM d, y' }}</h3>
        </div>
      </ion-label>
    
  </div>
    
  <ion-item-divider color="medium">
    <ion-label>
      Trailer
    </ion-label>
  </ion-item-divider>
    <!--Trailer -->
    <div class="padding-container">
      <div class="embed-container" style="background-image: url('https://img.youtube.com/vi/{{animedata.trailer}}/hqdefault.jpg');" *ngIf="animedata.trailer">
            
          <ion-button href="https://youtu.be/{{animedata.trailer}}">Assistir no youtube</ion-button> 
          
          </div>
      </div>

</div>

<!-- end info section  -->


  <!-- begin other info -->
  <div *ngIf="segment == 1">

    <ion-item-divider color="medium">
      <ion-label>
        Gêneros
      </ion-label>
    </ion-item-divider>

    <div class="padding-container">
      <ion-chip color="primary" *ngFor="let g of animedata.categorie">
        <ion-label><b>{{ g.categorie_pt }}</b></ion-label>
      </ion-chip>
    </div>

    <ion-item-divider color="medium">
      <ion-label>
        Estúdios
      </ion-label>
    </ion-item-divider>
    <div class="padding-container">
      
      <ion-chip color="primary" *ngFor="let s of animedata.studio" [routerLink]="['/studioanime/',  s.id ]">
        <ion-label  ><b>{{ s.name }}</b></ion-label>
      </ion-chip>
    </div>

    <ion-item-divider color="medium">
      <ion-label>
        Produtores
      </ion-label>
    </ion-item-divider>

    <div class="padding-container">
      
      <ion-chip color="primary" *ngFor="let p of animedata.producers">
        <ion-label ><b>{{ p.name }}</b></ion-label>
      </ion-chip>
    </div>

    <ion-item-divider color="medium">
      <ion-label>
        Licenciadores
      </ion-label>
    </ion-item-divider>
    <div class="padding-container">
    
    <ion-chip color="primary" *ngFor="let l of animedata.licensors">
      <ion-label  ><b>{{ l.name }}</b></ion-label>
    </ion-chip>
    </div>
  
</div>
  <!-- end other info -->


  
    
  

    
    
    
    <div class="ad-margin"></div>


  
</div>
</ion-content>

